# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java语言\DataStructures\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
